{% extends 'base.html' %}

{% block site_body %}

<div class="card mx-auto w-50 m-5">
    <div class="card-body">
        <h4 class="card-title text-center">URL Shortener ~ Shortened link</h4>
        <hr>

        <div class="mx-auto d-flex justify-content-between">
            <div>
                <a class="btn btn-primary" href="{{context.to}}" role="button">{{ context.to }}</a>
                <a class="btn btn-primary" href="/stats/{{context.hash}}" role="button">Statistics</a>
            </div>

            <a class="btn btn-danger" href="{{ context.from }}" role="button">{{context.from}}</a>
        </div>

        <div class="text-center">
            <a class="btn btn-primary" href="/" role="button">Shorten Another URL!</a>
        </div>
    </div>
</div>

{% endblock %}